@import "tailwindcss";

:root {
  --background: #EAF6F9;
  --foreground: #171717;
  --primary: #6366F1;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.custom-pagination  .swiper-pagination-bullet {
  width: 100px !important;
  height: 5px !important;
  background: gray !important;
  opacity: 1 !important;
  border-radius: 10px !important;
  transition: all 0.3s ease !important;
}

.custom-pagination  .swiper-pagination-bullet-active {
  width: 100px !important;
  height: 5px !important;
  background: #000 !important;
  border-radius: 10px !important;
}


.products-pagination .swiper-pagination-bullet {
  width: 100px !important;
  height: 5px !important;
  background: #4d4c4c !important;
  opacity: 1 !important;
  border-radius: 10px !important;
  transition: all 0.3s ease !important;
}

.products-pagination .swiper-pagination-bullet-active {
  width: 100px !important;
  height: 5px !important;
  background: white !important;
  border-radius: 10px !important;
}



